@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Arial, sans-serif;
  }

  body {
    @apply overflow-x-hidden bg-black text-white;
  }

  * {
    @apply box-border;
  }
}
